---
- name: Get the System Kernel
  shell:
    uname -r
  register: result
- name: Print System Kernel
  debug:
    var: result
- name: Get HWE support status
  shell:
    hwe-support-status
  register: result
- name: Print HWE Support Status
  debug:
    var: result
- name: Get hashicorp gpg key
  ansible.builtin.get_url:
    url: https://apt.releases.hashicorp.com/gpg
    dest: /usr/share/keyrings/hashicorp-archive-keyring.gpg.txt
  become: true
- name: dearmor gpg
  shell:
    gpg --dearmor < /usr/share/keyrings/hashicorp-archive-keyring.gpg.txt > /usr/share/keyrings/hashicorp-archive-keyring.gpg
  become: true
- name: Install hashicorp gpg key
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com {{ ansible_distribution_release }} main"
    state: present
    filename: hashicorp.list
  become: true
- name: Install vagrant / libvirtd
  ansible.builtin.apt:
    name: 
      - vagrant
      - vagrant-libvirt
      - build-essential
      - ruby-libvirt
      - qemu
      - libvirt-daemon-system
      - ebtables
      - libguestfs-tools
      - libxslt-dev 
      - libxml2-dev
      - libvirt-dev
      - zlib1g-dev
      - ruby-dev
    state: present
    update_cache: yes
  become: true
- name: Install Vagrant libvirt plugin
  shell:
    vagrant plugin install vagrant-libvirt
  become: true
- name: Install introvirt
  ansible.builtin.apt:
    name: 
      - libintrovirt1 
      - libintrovirt-doc
      - libintrovirt-dev
      - introvirt-tools
    state: present
  become: true
- name: Run ivversion
  shell:
    ivversion
  register: result
  become: true
- name: Print System Kernel
  debug:
    var: result
- name: Start guest host
  shell:
    cd /vagrant && \
    ./run-ubuntu2004.sh
  become: true